$color-primary: #233BAA;
$color-footer-text: #D9DBE1;

$color-white: #FFFFFF;
$color-white-2: #EFEFEF;

$color-gray-1: #D4D4D4;
$color-gray-2: #ECECEC;
$color-gray-border: #EBEBEB;
$color-gray-3: #D0D0D0;
$color-gray-size: #E0E0E0;
$color-gray-size-selected: #6F6F6F;
$color-gray-plusOrMinus: #F0F0F0;

$color-bg-input: #F1F1F1;
$color-text-input: #C4C4C4;

$color-black-1: #000000;
$color-black-2: #1D1D1D;
$color-black-3: #161616;

$width-container: Min(95%, 120rem);